dtache.db
multisession/*
straight/build/*
straight/repos/*
straight/build-cache.el
auto-save-list/*
custom.el*
elpa/*
emacs_init.el
mu4e.el
org-clock-save.el
projectile-bookmarks.eld
emacs.saves/*
.mc-lists.el
smex-items
recentf
eshell/*
url/*
server/*
tramp*
session*
network-security.data
irony/*
bookmarks
projectile.cache
.last-package-update-day
speed-type/*
transient/
.lsp-session*
.cache/
srecode-map.el
elpy/
emojis/
.dap-breakpoints
.org-id-locations
semanticdb/*
projects
org-roam.db
eln-cache/*
spell-fu/*
var/*
history
