auto-save-list/*
custom.el
elpa/*
emacs_init.el
emacs_linux.el
emacs_darwin.el
emacs_unix.el
emacs_windows.el
org-clock-save.el
projectile-bookmarks.eld
emacs.saves/*
.mc-lists.el
smex-items
recentf
snippets/*
eshell/*
url/*
