auto-save-list/*
custom.el*
elpa/*
emacs_init.el
mu4e.el
org-clock-save.el
projectile-bookmarks.eld
emacs.saves/*
.mc-lists.el
smex-items
recentf
eshell/*
url/*
server/*
tramp*
session*
network-security.data
irony/*
bookmarks
projectile.cache
.last-package-update-day
speed-type/*
transient/
.lsp-session*
.cache/
straight/*
srecode-map.el
elpy/
emojis/
